<section class="bg-zinc-900 p-20 rounded-xl my-4 text-center">
    <h1 class="text-5xl font-bold my-5">About</h1>
    <p class="text-zinc-300 font-semibold">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas veniam voluptas quisquam at ducimus harum quis inventore, ex maiores omnis assumenda distinctio unde et praesentium animi minus eum? Sunt, dolorum.</p>
</section>
