---
import Layout from "../layouts/layout.astro";
---

<Layout title="about">
  <h1>About</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi voluptate repellat doloribus! Reprehenderit eaque, enim facere eos consequuntur veniam accusamus ipsa numquam adipisci. Non veniam nihil quod autem, inventore velit!</p>
</Layout>
